body{
	margin: 0px;
}
#home{
	background-image: url('element/background_home.jpg');
	background: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#header{
	height: 150px;
}
#pojok{
	float: left;
	width: 25%;
	height: 100%;
}
#pojok p{
	font-family: roboto;
	position: relative;
	bottom: 200px;
	left: 90px;
	font-size: 100%;
	color: white;
	z-index: 1;
}
#nav1, #nav2, #nav3, #nav4, #nav5{
	line-height: 155px;
	vertical-align: middle;
	text-align: center;
	float: left;
	height: 100%;
	width: 14.78%;
	font-family: arial;
	font-size: 20px;
	color: white;
}
#selamat{
	height: 100%;
	padding-top: 20px;
	padding-bottom: 40px;
	clear: both;
	color: white;
	height: 390px;
}
#logo{
	position: relative;
	bottom: 135px;
	left: 22px;
	z-index: 2;
	width: 19%;

}
#pra{
	font-family: arial;
	font-size: 60px;
	text-align: center;
}
#prolog{
	font-family: arial;
	font-size: 15px;
	text-align: center;
	color: white;
	margin-bottom: 0px;
}
#segitiga{
	width: 100%;
	z-index: 0;
}
#struktur{
	background-image: url('element/background_struktur.jpg');
	background-position: center;
}
#bagan, #rektor{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#wr1{
	margin-left: 130px;
}
#wr1, #wr2, #wr3{
	display: inline-block;
	padding-left: 175px;
}
#judulstruktur{
	margin-top: 0px;
	padding-top: 40px;
	padding-bottom: 30px;
	font-family: arial;
	font-size: 40px;
	text-align: center;
	color: #1F1F99;
}
a:link{
	color: white;
	text-decoration: none;
}
a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	color: black;
}
#form{
	padding-left: 100px;
	background-image: url('element/background_form.jpg');
	color: white;
	font-family: arial;
}
#judulform{
	padding-left: -500px;
	text-align: center;
	font-family: arial;
	font-size: 40px;
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
}
#text{
	width: 500px;
}
#jabatan{
	font-family: arial;
	font-size: 20px;
	text-align: center;
	word-spacing: 160px;
	padding-bottom: 40px;
	margin-bottom: 0px;
}
#fakultas{
	background-image: url('element/background_fakultas.jpg');
	background: cover;
	background-position: center;
}
.fak{
	width: auto;
	height: 380px;
	padding-left: 10%;
	padding-right: 10%;
}
.fak div{
	margin: 2%;
	float: left;
	border: 1px solid black;
	background-color: white;
	width: 18%;
	height: 20%;
	
}
.fak p{
	padding-top: 20px;
	font-family: arial;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
}
#kotakcari{
	margin-left: 10%;
	height: 25px;
	width: 200px;
	border: 2px solid #3D80CC;
	padding-left: 5px;
	margin-right: 0px;
}
#tombolcari{
	width: 70px;
	height: 25px;
	border: 2px solid #3D80CC;
	background-color: #3D80CC;
	color: white;
	padding-left: 0px;
	margin-left: 0px;
}
footer{
	background-color: #1F1F99;
	height: 300px;
	padding-left: 60px;
	padding-top: 25px;
}
#logo2, #univjem{
	float: left;
	width: 80px;
	height: 80px;
}
#univjem{
	width: 100px;
	height: 60px;
	font-family: arial;
	font-size: 20px;
	color: #EAE255;	
	margin-left: 10px;
	padding-top: 20px;
	padding-bottom: 
}
#icon img{
	width: 22px;
}
#tentang{
	font-family: arial;
	font-size: 15px;
	color: white;
}
#jabatan{
	font-family: arial;
	font-size: 20px;
	text-align: center;
	word-spacing: 160px;
	padding-bottom: 40px;
	margin-bottom: 0px;
}
#rektor2{
	position: relative;
	top:305px;
	right: 200px;
}
#nama1{
	position: relative;
	left: 20px;
	top: 100px;
	font-size: 30px;
	font-family: arial;
	color: #000F99;
}
#atas{
	position: relative;
	bottom: 10px;
	text-align: center;
	font-size: 40px;
	font-family: arial;
	color: #1F1F99;
}
#dekan{
	position: relative;
	left: 572px;
	top: 10px;
	font-family: arial;
}
#wd1{
	position: relative;
	left: 295px;
	bottom: 10px;
}
#wd2{
	position: relative;
	left: 440px;
	bottom: 10px;
}
#wd3{
	position: relative;
	left: 585px;
	bottom: 10px;
}
#jabatan1{
	font-family: arial;
	font-size: 20px;
	text-align: center;
	word-spacing: 160px;
	padding-bottom: 40px;
	margin-bottom: 0px;
	margin-top: 0px;
}
#nama2{
	position: relative;
	left: 380px;
	top: 50px;
	font-size: 30px;
	font-family: roboto;
	color: #000F99;
}
#panah{
	position: fixed;
	margin-left: 1170px;
	width: 10px;
}
#fotodekan{
	position: relative;
	width: 190px;
	left: 350px;
	top: 30px;
}
#biokiri{
	position: relative;
	left: 570px;
	bottom: 166px;
	font-family: roboto;
	font-size: 20px;
}
#biokanan{
	position: relative;
	left: 770px;
	bottom: 325px;
	font-family: roboto;
	font-size: 20px;
}